<h2>О Сервисе фидбека</h2>
<p>Сервис фидебка - это сервис, который предназначен для быстрого создания формы фидбека и размещения этой формы на любом сайте. Пользователь заходит на сайт сервиса, регистрируется и добавляет свои сайты путем указания доменного имени. Код формы автоматически генерируется системой и пользователю остается только разместить его на своем сайте.</p>
