<div class="jumbotron">
  <img src="https://ru.gravatar.com/userimage/8041097/1da1e7116cc7176ca06e5098987fa28d.jpeg">
  <h3>Терехов Руслан</h3>
  <p class=lead><a href="http://www.linkedin.com/in/rterehov">Rails-разработчик</a></p>
  <p class=lead>+7 910 207-234-9</p>
  <a href="mailto:rterehov@gmail.com">rterehov@gmail.com</a>
</div>
