<div class="jumbotron">
    <h1>Сервис фидбека</h1>
    <p class="lead">Создай форму фидбека за 1 минуту, размести на своем сайте и принимай отзывы!</p>
    <%= link_to "Регистрация", new_user_registration_path, :class => "btn btn-large btn-success" %>
    <%= link_to "Вход", new_user_session_path, :class => "btn btn-large btn-primary" %>
</div>
