<div class="jumbotron">
    <h1>Сервис фидбека</h1>
    <p class="lead">Создай форму фидбека на своем сайте за 5 минут и принимай отзывы!</p>
    <%= link_to "Регистрация", new_user_registration_path, :class => "btn btn-large btn-success" %>
    <%= link_to "Вход", new_user_session_path, :class => "btn btn-large btn-success" %>

  </div>

  <hr>

  <div class="footer">
    <p>&copy; Терехов Руслан 2013</p>
  </div>

</div>
