<div class="jumbotron">
    <h1>Сервис фидбека</h1>
    <p class="lead">Создай форму фидбека за 30 секунд, размести на своем сайте и принимай отзывы!</p>
    <% if not current_user %>
      <%= link_to "Регистрация", new_user_registration_path, :class => "btn btn-large btn-success" %>
      <%= link_to "Вход", new_user_session_path, :class => "btn btn-large btn-primary" %>
    <% else %>
      <p class="lead">Вы вошли как <%= current_user.email %></p>
      <%= link_to "Перейти в профиль", sites_path, :class => "btn btn-primary"  %>
    <% end %>
</div>
