<p>Добрый день, <%= @resource.email %>!</p>

<p>Кто-то сделал запрос на смену вашего пароля. Вы можете сделать это, перейдя по ссылке ниже.</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если вы не запрашивали смену пароля, просто проигнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен, пока вы не перейдете по этой ссылке и не укажете новый.</p>
