<p>Добрый день, <%= @resource.email %>!</p>

<p>Ваш аккаунт был заблокрирован.</p>

<p>Для разблокирования перейдите по ссылке:</p>

<p><%= link_to 'Разблокировать аккаунт', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
