<h2>Добавить сайт</h2>

<p>Укажите домен своего сайта и email администратора (на этот email будут приходить нотификации о новых сообщениях пользователей). Для данного домена будет сгенерирован код вставки формы фидбека.</p>

<%= render :partial => 'form', :locals => { :email => current_user.email } %>

<%= link_to 'Назад', sites_path %>
